body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/*---Search---*/
.searchWrapper{
  margin: 5px;
}
.searchInput {
  border: none;
  outline: none;
  border-bottom: solid 2px black;
  transition: padding 0.3s ease;
}

.searchInput:focus{
  padding-bottom:5px;
  transition: padding 0.3s ease;

}


.searchButton {
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-button i {
  font-size: 18px;
  color: #333;
}

/*---Table---*/
.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: black;
  background: #f1f1f1;
  cursor: pointer;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #000000;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */
div.table {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }

  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td,
  .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  position: absolute;
  height: 1000%;
  overflow: auto;
  left: -150px;
  /* Hide the sidebar initially */
  transition: left 0.3s ease-in-out;
  /* Smooth transition */
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

/* Active/current link */
.sidebar a.active {
  background-color: #b8b8b8;
  color: black;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content */
div.content {
  margin-left: 0px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/*---Checkbox---*/
label span {
  background: #fff;
  border-radius: 50px;
  height: 3px;
  margin: 3px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.myLabel {
  display: flex;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked~span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotateZ(45deg) translate(4px, 0px);
}

input[type="checkbox"]:checked~span:nth-of-type(2) {
  transform-origin: top;
  transform: rotateZ(-45deg);
}

input[type="checkbox"]:checked~span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(15px, -5px) rotateZ(45deg);
}